ion-note.home-note {
	margin: 16px;
	display: block;
	font-size: 0.9rem;
	color: var(--ion-color-medium-shade);
}

.resource-config {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.resource-config__actions {
	margin-top: 24px;
	display: flex;
	gap: 12px;
}

.resource-config__actions ion-button {
	flex: 1;
}
